extends layout

block content
  main.col-md-9.ml-sm-auto.px-4.pt-3
    h1 シフト
    hr
    #shift
    script(src="./dist/shift.js")
    each date in users
      script= `store.addUsers('id: ${date.id}, username: ${date.username}')`
    each date in sleep
      script= `store.addSleep('id: ${date.id}, userid: ${date.userid}')`
    each date in shift
      script= `store.addShift('id: ${date.id}, userid: ${date.userid}')`
