mixin list(items)
  div.table-responsive
    table.table.table-striped
      each val, index in items
        tr
          th= index
          td= val
            if val instanceof Object
              +list(val)
mixin sell(date)
  td.text-muted.p-1
    div
      p.m-0(style="float: left;")= date.getDate()
      p.m-0.text-right 休
    div.text-center 17:00
    div.text-center 22:00
mixin setdata(store, data)
  script= `${store}.setData(${data})`

  