extends ./../layout.pug

block content
  if main
    h1 insert
    div.table-responsive
      form(action=`/database/${req.params.table}` method="POST")
        table.table.table-striped
          thead
            tr
              each val, index in main.table[0]
                th= index
          tbody
            tr
              each date in main.column
                td.p-1
                  if !date.Extra
                    input.form-control(type="text" name=`${date.Field}` placeholder=`${date.Type}`)
        .text-right
          button.btn.btn-success(type="submit") insert
    h1= `${main.title} columns`
    div.table-responsive
      table.table.table-striped
        thead
          tr
            each val, index in main.column[0]
              th= index
        tbody
          each date in main.column
            tr
              each val, index in date
                td.p-1= val
    h1= `${main.title} table`
    div.table-responsive
      table.table.table-striped
        thead
          tr
            each val, index in main.table[0]
              th= index
        tbody
          each date in main.table
            tr
              each val, index in date
                td.p-1= val
