extends ./../layout.pug

block content
  if main
    h1.h3 シフト
    .table-responsive
      table.table.table-bordered(style="table-layout: fixed;")
        tr.p-0
          th.text-center.p-0 月
          th.text-center.p-0 火
          th.text-center.p-0 水
          th.text-center.p-0 木
          th.text-center.p-0 金
          th.text-center.p-0 土
          th.text-center.p-0 日
        each week in main.weeks
          tr
            each date in week
              td.text-muted.p-1
                div
                  p.m-0(style="float: left;")= date.getDate()
                  p.m-0.text-right 休
                div.text-center 17:00
                div.text-center 22:00
    h1.h3 main
    div.table-responsive
      table.table.table-striped
        each val, index in main
          tr
            th= index
            td= val
              each val2, index2 in val
                table
                  tr
                    th= index2
                    td= val2
                      each val3, index3 in val2
                        table
                          tr
                            th= index3
                            td= val3
