extends ./../layout.pug

block content
  if main
    h1 今週
    div.table-responsive
      table.table.table-striped(style="table-layout: fixed;")
        tr
          each date in main.week1
            th.text-center= date
    h1 来週
    div.table-responsive
      table.table.table-striped(style="table-layout: fixed;")
        tr
          each date in main.week2
            th.text-center= date
    h1 再来週
    div.table-responsive
      table.table.table-striped(style="table-layout: fixed;")
        tr
          each date in main.week3
            th.text-center= date
    h1 main
    div.table-responsive
      table.table.table-striped
        each val, index in main
          tr
            th= index
            td= val
